<%= form_for :user, url: users_path do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :user_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
